.survice-content {
    display: flex;
    align-items: center;
    background-color: #0D1117;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    width: 600px;
    border-radius: 10px;
}
a{
    color: #fff;
    text-decoration: none;
}

.icon-div {
    flex: 0 0 auto;
    margin-right: 20px;
}

.icon-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
   /* filter: invert(84%) ;*/
}

.detail-div {
    flex: 1;
}

.detail-div h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.detail-div p {
    font-size: 16px;
    line-height: 1.6;
}
